body {
    margin: 0;
    font-family: sora;
    background-image: url(../imagens/fundo.jpg);
    height: 800px;
}

@font-face {
    font-family: sora;
    src: url(Sora-VariableFont_wght.ttf);
}

#painel {
    height: 70px;
    background-image: linear-gradient(to left, rgb(231, 22, 22), rgb(124, 0, 0));
    display: flex;
}

#informacoes img {
    position: relative;
    top: 60px;
    width: 60px;
    display: flex;
    margin: auto;
}

h1 {
    color: whitesmoke;
    position: relative;
    top: 5px;
    left: 20px;
    font-size: 23px
}

main h2 {
    text-align: center;
    font-size: 15px;
    position: relative;
    top: 80px;
}

.separator {
    background-color: rgba(0, 0, 0, 0.199);
    height: 1px;
    margin: auto;
    width: 330px;
    position: relative;
    top: 80px;
}

main .produto {
    font-weight: 200;
    position: relative;
    right: 110px;
}


main .valor {
    font-weight: 200;
    position: relative;
    right: 93px;
}


#comprar {
    display: flex;
    margin: auto;
    position: relative;
    top: 210px;
    background-image: linear-gradient(to right, rgb(231, 22, 22), rgb(124, 0, 0) );
    padding: 14px;
    border-radius: 40px;
    border: 0px solid white;
    color: whitesmoke;
    font-size: 10px;
    font-weight: 600;
    transition: 0.3s;
}

#comprar:hover {
    background-image: linear-gradient(to right, rgb(23, 23, 23), rgb(82, 82, 82));
    box-shadow: 0 0 15px rgb(105, 101, 101);
    transition: 0.3s;
}

#nomeDoUsuario {
    display: flex;
}

#nome {
    position: relative;
    left: 190px;
    font-weight: 600;
    color: rgb(177, 21, 21);
}

#valor {
    position: relative;
    left: 158px;
    font-weight: 600;
    color: rgb(177, 21, 21);
}

#aceitar {
    display: flex;
    margin: 0;
}

label {
    display: flex;
    justify-content: center;
    position: relative;
    top: 120px;
    gap: 7px;
    font-size: 13px;
}

#informacoes p {
    text-align: center;
    position: relative;
    top: 150px;
    font-size: 12px;
    color: rgb(177, 21, 21);
}

#cartao {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 180px;
    flex-direction: column;
    gap: 7px;
}

#cartao input {
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.252);
    border: none;
    border-radius: 20px;
    width: 220px;
    padding: 10px;
}

#sucesso {
    display: none;
}

#sucesso img {
    position: relative;
    top: 250px;
    display: flex ;
    margin: auto;
    width: 100px;
}

#sucesso p {
    text-align: center;
    position: relative;
    top: 270px;
    font-size: 13px;
    color: greenyellow;
}

