body {
    background-image: url(../imagens/fundo-preto.jpg);
    font-family: sora;
}

@font-face {
    font-family: sora;
    src: url(Sora-VariableFont_wght.ttf);
}


header img {
    width: 130px;
    display: flex;
    margin: auto;
    position: relative;
    top: 50px;
}

h1 {
    color: whitesmoke;
    text-align: center;
    font-size: 24px;
    position: relative;
    top: 50px;
}

span {
    font-weight: 200;
}

h2 {
    color: whitesmoke;
    font-size: 16px;
    text-align: center;
    position: relative;
    top: 105px;
}

main p {
    font-size: 14px;
    color: whitesmoke;
    text-align: center;
    position: relative;
    font-weight: 200;
    top: 100px;
}

#email {
    position: relative;
    top: 140px;
    font-weight: 400;
}

footer {
    display: flex;
}

a {
    position: relative;
    top: 200px;
    display: flex;
    margin: auto;
}
