body {
    background-image: url(../imagens/fundo.jpg);
    font-family: sora;
}

@font-face {
    font-family: sora;
    src: url(Sora-VariableFont_wght.ttf);
}

#logo {
    position: relative;
    top: 50px;
    display: flex;
    margin: auto;
}

h1 {
    position: relative;
    top: 70px;
    text-align: center;
}

p {
    position: relative;
    top: 100px;
    font-weight: 200;
    margin-left: 400px;
    margin-right: 400px;
    text-align: center;
}

h2 {
    position: relative;
    top: 135px;
    text-align: center;
}

#pessoas {
    border-collapse: collapse;
    position: relative;
    top: 160px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.155);
}

#pessoas th {
    font-weight: 500;
    color: rgb(177, 21, 0);
    padding: 20px;
}

#pessoas td {
    font-size: 14px;
    text-align: center;
    font-weight: 200;
    padding: 15px;
}

#produtos {
    position: relative;
    top: 190px;
    text-align: center;
}

#produto {
    border-collapse: collapse;
    position: relative;
    top: 210px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.155);
}

#produto th {
    font-weight: 500;
    color: rgb(177, 21, 0);
    padding: 15px;
}

#produto td {
    font-size: 14px;
    text-align: center;
    font-weight: 200;
    padding: 15px;
}