body {
    background-color: whitesmoke;
    font-family: sora;
    height: 2000px;
    background-image: url(../imagens/fundo.jpg);
}

@font-face {
    font-family: sora;
    src: url(../fontes/Sora-VariableFont_wght.ttf);
}

@font-face {
    font-family: mograch;
    src: url(../fontes/mograch.otf);
}

.menu2 a {
    color: rgb(29, 29, 29);
    position: fixed;
    top: 70px;
    left: 50px;
}

.menu2 a:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.menu2 i:hover {
    color: rgb(166, 31, 31);
}

.descer {
    color: rgb(32, 32, 32);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 160px;
} 


.logo {
    display: flex;
    margin: auto;
    border-radius: 50%;
    position: fixed;
    top: 40px;
    right: 30px;
    z-index: 1000;
}

.logo:hover {
    box-shadow: 0 0 15px rgba(255, 63, 63, 0.807);
    transition: 0.3s;
}

#cadastrar {
    text-decoration: none;
    color: rgb(25, 25, 25);
    position: absolute;
    top: 90px;
    right: 180px;
    font-weight: 600;
    transition: 0.3s;
}

#cadastrar:hover {
    color: rgb(213, 25, 25);
    transform: scale(1.05);
}

.menu2 #adquira2 {
    top: 120px;
}

.card {
    font-weight: 600;
    color: rgb(27, 27, 27);
    display: flex;
    width: 250px;
    height: 380px;
    padding: 20px;
    border-radius: 25px;
    background-color: rgb(242, 242, 242);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.188);
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 300px;
    overflow: hidden;
}

.card img {
    position: relative;
    top: -20px;
    display: block;
    mask-image: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
}

.card p {
    margin-top: 8px;
    font-size: 11px;
    font-weight: 300;
    text-align: center;
}

.card h4 {
    margin: 5px;
}

.card h3 {
    margin: 10px;
    color: rgb(218, 34, 34);
}

.card input {
    margin: 8px;
    font-weight: 700;
    padding: 10px;
    border: none;
    border-radius: 40px;
    background-color: rgb(214, 12, 12);
    color: beige;
}

.card input:hover {
    background-color: rgb(20, 20, 20);
    transition: 0.5s;
    cursor: pointer;
}

.card:hover {
    border: 2px solid red;
}

h1 {
    font-family: mograch;
    color: rgb(28, 28, 28);
    letter-spacing: 3px;
    position: fixed;  
    top: 10px;
    left: 150px;
    font-size: 60px;
    transition: opacity 0.5s ease;
}

.menu2 p {
    font-family: mograch;
    color: rgb(32, 32, 32);
    letter-spacing: 3px;
    position: fixed;  
    top: 105px;
    left: 150px;
    transition: opacity 0.5s ease;
}

.hidden {
    opacity: 0;
}

main {
    display: flex;
    flex-direction: column;
}

#cards {
    margin: auto;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    place-content: center;
}

.produtoBase {
    display: none;
}

.produtoAdicionado {
    display: flex ;
}





