html {
    scroll-behavior: smooth;
    background-image: url(./imagens/fundo-tela-principal.jpg)
}

@font-face {
    font-family: sora;
    src: url(./Sora-VariableFont_wght.ttf);
}

@font-face {
    font-family: mograch;
    src: url(mograch.otf);
}

body {
    font-family: sora;
    margin: 0;
    height: 2000px;
}

ul {
    display: flex;
    list-style: none;
}

#help {
    background-color: rgb(218, 218, 205);
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: end;
    gap: 5px;
}

#help a {
    position: relative;
    top: 10px;
    right: 15px;
    color: rgb(29, 29, 29);
    font-weight: 600;
    text-decoration: none;
    font-size: 12px;
}

.navbar {
    background-color: beige;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a {
    color: rgb(29, 29, 29);
    font-weight: 600;
    text-decoration: none;
    font-size: 14px;
    padding: 10px;
}

.navbar a:hover {
    color: #cf1313;
    transform: scale(1.1);
    transition: 0.3s;
}

#help a:hover {
    color: rgb(137, 137, 137);
}

.navbar img {
    position: absolute;
    left: 10px;
    top: 42px;
}

.projeto {
    display: flex;
    align-items: center;
    justify-content: center;
}

.projeto img {
    opacity: 40%;
}

h1 {
    top: 200px;
    font-size: 80px;
    font-family: mograch;
    position: absolute;
    text-align: center;
    letter-spacing: 5px;
    color: rgb(247, 247, 206);
    z-index: 100;
    transition: opacity 0.5s ease;
}

.projeto a {
    color: rgb(26, 26, 26);
    font-family: mograch;
    letter-spacing: 2px;
    font-size: 12px;
    text-decoration: none;
    background-color: beige;
    border-radius: 40px;
    padding: 10px;
    position: absolute;
    top: 500px;
    transition: opacity 0.5s ease;
}

.projeto a:hover {
    color: beige;
    background-color: rgb(203, 0, 0);
    transition: 0.4s;
}

.projeto p {
    color: beige;
    font-family: mograch;
    letter-spacing: 3px;
    font-size: 14px;
    position: relative;
    top: 360px;
}

.hidden {
    opacity: 0;
}

h3 {
    color: beige;
    text-align: center;
    position: relative;
    top: 700px;
    font-size: 34px;
    font-family: mograch;
    letter-spacing: 4px;
    font-weight: 600;
}

#historia p {
    color: beige;
    text-align: center;
    position: relative;
    font-family: sora;
    font-weight: 200;
    position: relative;
    top: 730px;
    margin-left: 200px;
    margin-right: 200px;
}